@import './base/font';
@import './components/table';
@import './components/pagination';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    direction : rtl;
    text-align: right;
    background: #f7fafc;
    font-family: iransans-fa;
    font-size: 13px;
    overflow-x: hidden;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 20px;
    float: right;
    width: 100%;flex-direction: column;
}
.main-content{
    width:  1100px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1200px) {
        width: 100%;
    }
}
