@font-face {
  font-display: swap;
  font-family: IRANSans-fa;
  font-style: normal;
  font-weight: normal;
  src: url("~@/assets/fonts/iransans-fa/IRANSansWeb_FaNum.eot");
  src: url("~@/assets/fonts/iransans-fa/IRANSansWeb_FaNum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("~@/assets/fonts/iransans-fa/IRANSansWeb_FaNum.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("~@/assets/fonts/iransans-fa/IRANSansWeb_FaNum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("~@/assets/fonts/iransans-fa/IRANSansWeb_FaNum.ttf") format("truetype");
}