.pagination{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    ul{
            display: flex;
    justify-content: center;
        li{
    margin: 5px;
    background: #ffffff;
    border-radius: 6px;
    list-style-type: none;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    &.active{
        background: #ddd;
        cursor: initial
    }
    &.disabled{  cursor: initial}

        }
    }
}
