.tableHolder{
    position: relative;
  width: 100%;
    @media (max-width: 768px) {
       overflow-x: auto;
        overflow-y: hidden;
    }
    &.hasBackdrop:before{
        content:'';
        position: absolute;
        top:0;
        right:0;
        background: #fff;
        opacity: 0.8;
        width: 100%;
        border-radius: 6px;
        height: 100%;
        z-index: 2;
    }
}
table{
    border-collapse: collapse;
    border-radius: 6px;
    box-shadow: 0px 5px 10px 0px rgba(20, 83, 155, 0.05);
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    button{
        font-family: iransans-fa;
        white-space: nowrap;
    }
    @media (max-width: 768px) {
        width: 900px;
    }
}
table th, table td{
    padding: 8px;
    border: 1px solid #ddd;
}

table .selected{
    background: rgba(253,253,1,0.2);
}

.filter__box{
    background: #fff;
        border-radius: 6px;
    box-shadow: 0px 5px 10px 0px rgba(20, 83, 155, 0.05);
    padding: 20px;
    margin-bottom: 2rem;
    width: 100%;
}
.filter__box__elms{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input{
        flex: 0 0 22%;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 10px;
        height: 40px;
        font-family: IRANSans-fa;
        margin-bottom: 10px;
        @media (max-width: 768px) {
            flex: 0 0 44%;
        }
    }

}
.filter__box button{
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 0 10px;
    height: 40px;
    font-family: IRANSans-fa;
    margin: 5px auto 0 0;
}
