<template>

  <div class="content">
    <div class="main-content">
      <div class="filter__box">
        <div class="filter__box__elms">
          <input type="text" placeholder="نام تغییردهنده" v-model="form.basic.name">
          <input type="text" placeholder="نام آگهی" v-model="form.basic.title">
          <input type="text" placeholder="فیلد" v-model="form.basic.field">
          <input type="text" placeholder="مقدار قدیمی" v-model="form.basic.old_value">
          <input type="text" placeholder="مقدار جدید" v-model="form.basic.new_value">
        </div>

        <button :disabled="this.loading.filter" @click="normalSearch">اعمال فیلتر</button>
      </div>
      <div class="filter__box">
        <div class="filter__box__elms">
          <input type="date" placeholder="تاریخ" v-model="form.basic.date">

        </div>

        <button :disabled="this.loading.bstFilter" @click="bstSearch">اعمال فیلتر</button>
      </div>
      <div class="tableHolder" :class="{hasBackdrop:this.loading.normalFilter || this.loading.bstFilter}">
        <table>
          <thead>
          <tr>
            <th>شناسه</th>
            <th>نام تغییردهنده</th>
            <th>تاریخ</th>
            <th>نام آگهی</th>
            <th>فیلد</th>
            <th>مفدار فدیمی</th>
            <th>مقدار جدید</th>
            <th>عملیات</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item , index) in tableRecords" :key="'record-'+index" :class="{selected:isRowSelected(item.id)}">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.field }}</td>
            <td>{{ item.old_value }}</td>
            <td>{{ item.new_value }}</td>
            <td>
              <button class="" @click="saveRecord('save', item)" v-if="!isRowSelected(item.id)">نشان کردن</button>
              <button class="" @click="saveRecord('delete', item)" v-else>حذف نشان</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <Pagination :base="pagination.base" :currentPage="pagination.current_page"
                  @onPageChanged="pageChangedHandler"
                  v-if="!loading.normalFilter && !loading.bstFilter && loading.initial"></Pagination>
    </div>
  </div>

</template>

<script>
import dummyData from "../utils/mockData/data.json";
import Pagination from "../components/pagination.vue"
import Bst from '../utils/DateBst.js';

export default {
  name: "Home",
  components: {Pagination},
  data() {
    return {
      loading: {
        initial: false,
        normalFilter: false,
        bstFilter: false
      },
      records: [],
      tableRecords: [],
      pagination: {
        base: {
          per_page: 15,
          total: 0
        },

        current_page: this.$route.query.page ? this.$route.query.page : 1,
      },
      tree: null,
      form: {
        basic: {
          name: this.$route.query.name ? this.$route.query.name : undefined,
          title: this.$route.query.title ? this.$route.query.title : undefined,
          field: this.$route.query.field ? this.$route.query.field : undefined,
          old_value: this.$route.query.old_value ? this.$route.query.old_value : undefined,
          new_value: this.$route.query.new_value ? this.$route.query.new_value : undefined
        }
      }
    };
  },
  mounted() {
    this.normalSearch()
  },
  methods: {
    pageChangedHandler(page) {
      this.pagination.current_page = page.number
      this.tableRecords = this.records.slice((page.number - 1) * 15, (page.number - 1) * 15 + 15);
    },
    saveRecord(type = 'save', record) {
      let temp = localStorage.getItem('savedRecords') ? JSON.parse(localStorage.getItem('savedRecords')) : []
      if (type === 'save') {
        temp.push(record.id)
      } else {
        let index = temp.indexOf(record.id)
        temp.splice(index, 1)
      }
      localStorage.removeItem('savedRecords');
      localStorage.setItem('savedRecords', JSON.stringify(temp));
      this.$forceUpdate()
    },
    isRowSelected(id) {
      if (localStorage.getItem('savedRecords')) {
        return JSON.parse(localStorage.getItem('savedRecords')).indexOf(id) > -1
      } else {
        return false
      }
    },
    async normalSearch() {
      if (this.loading.normalFilter) return
      this.loading.normalFilter = true

      this.records = [...dummyData]

      for (const key in this.form.basic) {
        if (this.form.basic[key]) {
          this.records = await this.records.filter(item => {
            if (item[key].toString().indexOf(this.form.basic[key].trim()) > -1) {
              return true
            }
          })
        }
      }

      this.pagination.base.total = this.records.length
      this.tableRecords = this.records.slice((this.pagination.current_page - 1) * 15, (this.pagination.current_page - 1) * 15 + 15);

      this.loading.initial = true
      this.loading.normalFilter = false
    },
    async bstSearch() {
      if (this.loading.bstFilter) return
      this.loading.bstFilter = true
      setTimeout(() => {
        // create tree in the first search
        if (!this.tree) {
          this.tree = new Bst();
          dummyData.map(item => {
            this.tree.add(item)
          })
        }
        let result = this.tree.find(this.form.basic.date)
        if (result) {
          this.records = [...result.data]
          this.pagination.base.total = this.records.length
          this.tableRecords = this.records.slice(0, 15);
        }
        this.loading.bstFilter = false
      }, 100);

    }
  },
};
</script>

