<template>
    <nav class="pagination">
 
        <ul v-if="!!paginationDetails">
            <li class="page-item" v-for="(page, index) in paginationDetails" :key="'page-'+index" :data-id="page.number"
                :class="{'disabled': !page.number, 'active':  page.number === parseInt(currentPage)}" @click="pageChanged(page)">
               {{ page.text }}  
            </li>
        </ul>
    </nav>  
</template>

<script>
    export default {
        name: 'Pagination',
        props: {
            currentPage:{
                required: true,
                default: 1
            },
            base:{
                required: true,
                 type: Object
            }
        },
        data() {
            return {
 
                paginationDetails: null
            }
        },
        mounted() {
            const vm = this;
 
            vm.paginationDetails = vm.getPaginationButtons(this.base.total, this.base.per_page, parseInt(this.currentPage));
        },
        methods: {
            getPaginationButtons: (total_items, per_page, current_page) => {
                let count_of_btn = Math.ceil(total_items / per_page),
                    pagination = [];
 
                if (current_page >= 2) {
                    pagination.push({
                        text: 'قبلی',
                        number: current_page - 1,
                    });
                }

                if (current_page > 3) {
                    pagination.push({
                        text: '1',
                        number: 1,
                    });

                    if (current_page >= 5) {
                        pagination.push({
                            text: '...',
                        });
                    }
                }

                let start = current_page > 2 ? current_page - 2 : 1,
                    end = current_page < count_of_btn - 2 ? current_page + 2 : count_of_btn;
                for (let i = start; end >= i; i++) {
                    pagination.push({
                        text: i,
                        number: i
                    });
                }

                if (current_page < count_of_btn - 2) {
                    if (end + 1 !== count_of_btn) {
                        pagination.push({
                            text: '...'
                        });
                    }

                    pagination.push({
                        text: count_of_btn,
                        number: count_of_btn
                    });
                }

                if (current_page < count_of_btn) {
                    pagination.push({
                        text: 'بعدی',
                        number: current_page + 2
                    });
                }

               

                return pagination;
            },
            pageChanged(page){
                if(page.number)
                    this.$emit('onPageChanged', page)
            }
        },
        watch: {
            currentPage: function(newVal, oldVal) {
                console.log(oldVal  );
                
                this.paginationDetails = this.getPaginationButtons(this.base.total, this.base.per_page, parseInt(newVal));
                this.$forceUpdate()
            }
        }
    }
</script>